# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node
node_modules/
frontend/dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific
backend/outputs/
backend/uploads/
*.pdf
*.xlsx
